.dashboard {
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
}

.bookings {
  width: 70%;
}

.card-dashboard {
  box-shadow: 2px 2px 5px grey;
  padding: 2rem;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.stats {
  height: 60vh;
  position: sticky;
  top: 0;
  padding: 3rem;
}

.name {
  font-size: large;
  font-weight: 800;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
