.dashboard {
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
}

.bookings {
  width: 70%;
  height: 500px;
  overflow: scroll;
}

.card-dashboard {
  box-shadow: 2px 2px 5px grey;
  padding: 2rem;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
  height: 20%;
}

.stats {
  height: 60%;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 3rem;
}

.name {
  font-size: large;
  font-weight: 800;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > .image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.list-inline {
  position: sticky;
}
