// body {
//   background-color: #fefae0;
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.text {
  position: relative;
  left: 130px;
}

.cards-model {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  border-radius: 70px;
  margin: 30px auto 20px auto;
}

.testimonial-header {
  text-align: center; /* centrer le texte horizontalement */
  margin-top: 20px; /* marge supérieure pour espace sous la bannière */
  margin-bottom: 20px; /* marge inférieure pour espace au-dessus des cartes */
  font-family: 'Oswald', sans-serif;
  opacity: .6;
}


.card-model {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: white;
  color: black;
  border-radius: 20px;
  padding: 5px;
}



.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2em;
}

.slogan {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.cta button {
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
