.form-cont-boxers {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ceci assure que la div prend toute la hauteur de la fenêtre de visualisation */
}

#my_form_id {
  width: 50%;
}

.form-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Ubuntu', sans-serif;
}
