<div class="container my-5">
  <h1 class="title-chae">Hey babe 😘</h1>
  <h3 class="subtitle-chae mb-5">Since you seemed a bit down yesterday, hope some of these videos help brighten your day</h3>
    <div class="cards-chae mb-4">
      <a class="text-decoration-none" href="https://www.youtube.com/watch?v=fCa_lAxHvhM">
      <div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1667099521892-b9d832b74873?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2F0c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60)">
          If you're in a cat-y mood
        </div>
          <div class="tiny-chae">that one looks familiar we might have watched it together before</div>
      </div>
      </a>

      <a class="text-decoration-none" href="https://www.youtube.com/watch?v=qYJWHkZfQxM">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80)">
          Something cute
        </div>
      </a>

      <a class= "text-decoration-none "href="https://www.youtube.com/watch?v=6gU5CyZ7wiI">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1612872087720-bb876e2e67d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dm9sbGV5YmFsbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60)">
          This one is self-explanatory
        </div>
      </a>
    </div>
    <div class="text-center">
    <p>And please never apologize for having a bad day, you're my favourite person in the world regardless of your mood ❤️</p>
    <br><br>
    <h6 class="text-secondary">if you're curious about the original website, you can go back to it <a href="/">here</a></h6>
    </div>
</div>
