<body>
    <header>
    </header>
    <main>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.alivewithideas.com/wp-content/uploads/2019/09/Fight_Club_Creative_blog_banner_2720x932px_v2-01-scaled.jpg);">
          <div class="container">
            <div class="text">
              <h1><strong>Tired of being safe all the time?</strong></h1>
              <p>Find people to come beat you up !</p>
              <%# <button class="button-21" role="button">Get Wrecked !</button> %>
              <%= link_to "Get Wrecked !", boxers_path, class: 'button-21' %>
            </div>
          </div>
        </div>
    </main>
    <div class="testimonial-header">
          <h2>Nos utilisateurs parlent de leur expérience</h2>
    </div>
      <section class="cards">
      <div class="card" id="c1">
          <p>"Rien ne vaut un bon uppercut pour trouver son zen intérieur." - <strong>Françoise C</strong>.</p>
      </div>
      <div class="card" id="c2">
          <p>"Un crochet du droit après le dîner ? Oui, s'il vous plaît !" -<strong> Marie S</strong></p>
      </div>
      <div class="card" id="c3">
          <p>"Qui aurait pensé que se faire tabasser pouvait être si amusant ?" -<strong> Pierre L</strong></p>
      </div>
    </section>

    <footer>
        <p>© 2023 Tape-à-l'oeil. All rights reserved.</p>
    </footer>
</body>
