<div class="search-wrapper">
  <div class="card-row">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
  <div class="card-row search-row">
    <div class="card"></div>
    <div class="search">
      <input type="text" class="search-bar" placeholder="Search...">
    </div>
    <div class="card"></div>
  </div>
  <div class="card-row">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</div>
