.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-image: cover;
  background-position: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#site-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
